<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.udc.psi14.grupal.guiacoruna" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PuntoInteresListActiv"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="modelo.testmodel"
            android:label="@string/title_activity_testmodel" >
        </activity>
        <activity
            android:name=".DetallesActivity"
            android:label="@string/title_activity_detalles" >
        </activity>

        <option android:name="ASSETS_FOLDER_RELATIVE_PATH" android:value="/src/main/assets" />

    </application>

</manifest>
